<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style_css.css')}}">
</head>
<body>

    <div>
        여기는 html 영역입니다.

        <a href="/about">about 페이지로 이동</a>
    </div>
    
    <div class="ent_content">
        <h1>여기는 많이 본 TV연예 뉴스 입니다.</h1>

        <ul>

            {% for i in range(0, ent_len) %}

                <a href="{{ent_href[i]}}"><li>{{ ent[i] }}</li></a>

            {% endfor %} 

        </ul>
         
    </div>
    <div class="ent_content">
        <h1>여기는 오늘의유머 영역입니다.</h1>

        <ul>
            {% for i in range(0, today_len) %}

                <a href="{{today_href[i]}}"><li>{{ today[i] }}</li></a>

            {% endfor %}
        </ul>
      
    </div>

    <div class="ent_content">
        <h1>여기는 클리앙 추천 게시글 입니다.</h1>
        <ul>
            {% for i in range(0, clien_len) %}

                <a href="{{clien_href[i]}}"><li>{{ clien[i] }}</li></a>

            {% endfor %}
     
        </ul>
    </div>
</body>
</html>